*{
    font-family: 'Poppins', sans-serif;
}
body {
    background-color: rgb(161, 177, 190);
    text-align: center;
}

.container{
    border-radius: 20px;
    background-color: white;
    margin: 20px auto;
    width: 900px;
    padding: 50px;
    display: flex;
}
.data h1{
    margin-top: 80px;
    font-size: 60px;
}
.cookie{
    width: 50%;
    text-align: center;
}
.clicked{
    transform: scale(0.95);
}
.data{
    width: 50%;
    text-align: center;
}
ol{
    padding: 15px 10px;
    background-color: rgb(161, 177, 190);
    border-radius: 10px;
}
.hability{
    display: flex;
    margin-bottom: 10px;
}
.hability:hover{
    cursor:pointer;
}
.quantity{
    font-weight: 600;
}
.hability *{
    background-color: rgb(255, 207, 144);
    align-self: center;
    margin: 0;
    padding:20px 30px;
    border: 3px solid black;
    border-radius: 10px;
}  
.quantity ~ p{
    width:100%;
}